.btn-head {
  margin: 0 5px 10px 0;
}

.no-padding {
  padding-right: 0;
}

.ingredient-row {
  margin-bottom: 10px;
}

h5 {
  margin-top: 0;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
