<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div>
      <img src="https://i.imgur.com/bCB5P2u.jpg" class="img-responsive" alt="Angular 9">
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-control"
               name="email"
               required
               email
               ngModel
               #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">
          <span *ngIf="email.errors && email.errors['email']">
                  The email is invalid!
          </span>
          <span *ngIf="email.errors && email.errors['required']">
                  The email is required!
          </span>
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               required
               minlength="6"
               ngModel
               #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched">
          <span *ngIf="password.errors && password.errors['minlength']">
                  The password must have more than 5 characters!
          </span>
          <span *ngIf="password.errors && password.errors['required']">
                  The email is required!
          </span>
        </span>
      </div>

      <div class="text-center">
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!form.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        <button class="btn btn-default" type="button" (click)="onSwitchMode()">
          Switch to {{ !isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
      </div>
    </form>
  </div>
</div>
