<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form>
      <div>
        <img src="https://i.imgur.com/bCB5P2u.jpg" class="img-responsive" alt="Angular 9">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control">
      </div>
      <div class="text-center">
        <button class="btn btn-primary"
                type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        <button class="btn btn-default" type="button" (click)="onSwitchMode()">
          Switch to {{ !isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
      </div>
    </form>
  </div>
</div>
