<div class="row">
  <div class="col-xs-12 text-center">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="col-xs-4">
    <div class="btn-group pull-right" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onSendToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
        <!--        <li><a style="cursor: pointer" [routerLink]="['/recipes', id, 'edit']">Edit Recipe</a></li>-->
        <li><a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4 style="font-style: italic">{{ recipe.description }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default" *ngIf="hasIngredients()">
      <div class="panel-heading"><strong>Ingredients</strong></div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>
