<div class="row">
  <div class="col-xs-12">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div class="panel panel-default" *ngIf="(hasIngredients() | async).ingredients.length > 0">
      <div class="panel-heading"><strong>Ingredients to buy</strong></div>
      <ul class="list-group">
        <a class="list-group-item"
           style="cursor: pointer"
           *ngFor="let ingredient of (ingredients | async).ingredients, let i = index"
           (click)="onEditItem(i)">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ul>
    </div>
  </div>
</div>
